@{
    ViewData["Title"] = "Confirmacion";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<div class="container mt-5">
    <h2>Compra Finalizada</h2>
    <p>¡Gracias por tu compra! Pronto recibirás los detalles en tu correo.</p>
    <a href="@Url.Action("PrincipalCliente", "Home")" class="btn btn-primary">Volver al inicio</a>
</div>
