@model Web_Roda_Llantas.Entities.ProductosEntities
@{
    ViewData["Title"] = "ConsultarProductosCliente";
    Layout = "~/Views/Shared/_LayoutCliente2.cshtml";
}

<style>
    .custom-card {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .card {
        height: 400px; /* Ajusta según tus necesidades */
    }

    .card-body {
        flex: 1 0 auto;
        overflow: hidden;
    }

    .card-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .card-img-top {
        max-height: 150px; /* Ajusta según tus necesidades */
        object-fit: contain;
    }
</style>



<!-- Banner -->
<div class="content-wrapper d-flex align-items-center auth px-0" style="background-color: #000; width: 100vw; margin-left: calc(-50vw + 50%);">
    <!-- Carrusel de Bootstrap -->
    <div id="carouselExampleIndicators" class="carousel slide w-100 m-auto custom-carousel" data-ride="carousel">


        <!-- Indicadores en la parte inferior del carrusel -->
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
           @* <li data-target="#carouselExampleIndicators" data-slide-to="1" ></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2" ></li>*@
        </ol>

        <!-- Contenido del carrusel -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/img/Banner.jpeg" class="d-block w-100" alt="Banner RodaLlantas">
            </div>
@*            <div class="carousel-item">
                <img src="~/img/Banner2.jpg class="d-block w-100" alt="Banner2">
            </div>
            <div class="carousel-item">
                <div class="container-fluid">
                    <div class="carousel-caption">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-bg">
                                    <h1>RodaLlantas de Turrialba</h1>
                                    <span>car repair services</span>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, </p>
                                    <a href="#">More Info </a> <a href="#">Contact Us</a>
                                </div>
                            </div>
                            @*          <div class="col-md-6">
                            <div class="text_img">
                            <figure><img src="~/template/images/car.png" alt="#" /></figure>
                            </div>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container-fluid">
                    <div class="carousel-caption">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-bg">
                                    <h1>RodaLlantas de Turrialba</h1>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, </p>
                                    <a href="#">More Info </a> <a href="#">Contact Us</a>
                                </div>
                            </div>
                            @*    <div class="col-md-6">
                            <div class="text_img">
                            <figure><img src="images/car.png" alt="#" /></figure>
                            </div>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>



@*Las 3 Cajas de los servicios *@
<div class="three_box py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="box_text">
                    <h3>DIAGNOSTICO RAPIDO</h3>
                    <i><img src="~/template/images/thr.png" alt="#" /></i>
                    <p>ipsum dolor sit amet, consectetur adipiscing elit, sed d veniam, adipiscing elit, sed d veniam</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box_text">
                    <h3>SERVICIOS</h3>
                    <i><img src="~/template/images/thr1.png" alt="#" /></i>
                    <p>ipsum dolor sit amet, consectetur adipiscing elit, sed d veniam, adipiscing elit, sed d veniam</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box_text">
                    <h3>LLANTAS Y MAS</h3>
                    <i><img src="~/template/images/thr2.png" alt="#" /></i>
                    <p>ipsum dolor sit amet, consectetur adipiscing elit, sed d veniam, adipiscing elit, sed d veniam</p>
                </div>
            </div>
        </div>
    </div>
</div>
@*Productos*@
                  <div class="about">
                      <div class="form-group col-md-6">
                          <label for="Prod_TipoProducto_Id">Nombre del Tipo de Producto</label>
                          @Html.DropDownListFor(m => m.Prod_TipoProducto_Id, (IEnumerable<SelectListItem>)ViewBag.OpcionesProductos, "Seleccione un Tipo de Producto", new { @class="form-control form-control-sm", @required = true})
                      </div>
                      <div class="container">
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="titlepage">
                                      <h2>PRODUCTOS </h2>
                                  </div>
                                  <div id="carouselExampleIndicators" class="carousel slide">
                                      <div class="carousel-indicators">
                                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                      </div>
                                      <div class="carousel-inner">
                                          <div class="carousel-item active">
                                              <img src="/img/base rack.png" class="d-block w-100" alt="...">
                                          </div>
                                          <div class="carousel-item">
                                              <img src="/img/intensity iq.png" class="d-block w-100" alt="...">
                                          </div>
                                          <div class="carousel-item">
                                              <img src="/img/duratrac.jpg" class="d-block w-100" alt="...">
                                          </div>
                                      </div>
                                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                          <span class="visually-hidden">Previous</span>
                                      </button>
                                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                          <span class="visually-hidden">Next</span>
                                      </button>
                                  </div>
                              </div>
                          </div>
                          <div class="container">
                              <div class="row">
                                  <div class="col-md-10 offset-md-1">
                                      <div class="about_img">
                                          <div class="about_box">
                                              @* <h3>Dolor sit amet, consectetur adipiscing elit,  </h3>
                                <p>dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                                <a class="read_more">Read More</a>*@
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
<!-- testimonial -->
<div class="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>NUESTROS CLIENTES</h2>
                    <p>It is a long established fact that a reader will be distracted by the </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="myCarousel" class="carousel slide testimonial_Carousel " data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container">
                                <div class="carousel-caption ">
                                    <div class="row">
                                        <div class="col-md-6 margin_boot">
                                            <div class="test_box">
                                                <i><img src="~/template/images/tes.jpg" alt="#" /></i>
                                                <h4>JCKOLO</h4>
                                                <span>(It is a long )</span>
                                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as </p>
                                            </div>
                                        </div>
                                        <div class="col-md-6 margin_boot">
                                            <div class="test_box">
                                                <i><img src="~/template/images/tes1.jpg" alt="#" /></i>
                                                <h4>ROCOYO</h4>
                                                <span>(It is a long )</span>
                                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container">
                                <div class="carousel-caption">
                                    <div class="row">
                                        <div class="col-md-6 margin_boot">
                                            <div class="test_box">
                                                <i><img src="~/template/images/tes.jpg" alt="#" /></i>
                                                <h4>JCKOLO</h4>
                                                <span>(It is a long )</span>
                                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as </p>
                                            </div>
                                        </div>
                                        <div class="col-md-6 margin_boot">
                                            <div class="test_box">
                                                <i><img src="~/template/images/tes1.jpg" alt="#" /></i>
                                                <h4>ROCOYO</h4>
                                                <span>(It is a long )</span>
                                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container">
                                <div class="carousel-caption">
                                    <div class="row">
                                        <div class="col-md-6 margin_boot">
                                            <div class="test_box">
                                                <i><img src="~/template/images/tes.jpg" alt="#" /></i>
                                                <h4>JCKOLO</h4>
                                                <span>(It is a long )</span>
                                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as </p>
                                            </div>
                                        </div>
                                        <div class="col-md-6 margin_boot">
                                            <div class="test_box">
                                                <i><img src="~/template/images/tes1.jpg" alt="#" /></i>
                                                <h4>ROCOYO</h4>
                                                <span>(It is a long )</span>
                                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="text-center py-4">
        <a href="@Url.Action("ConsultarProductosCliente","Productos")" class="btn btn-primary">Ver todos los productos</a>
    </div>
</div>




<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
